.field {
  resize: none;
  width: 50%;
  height: 200px;
  position: relative;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  color: #fff;
  opacity: 0.3;
  outline: none;
  border: 1px solid #fff;
  box-shadow: 0px 4px 20px 0px transparent;
  transition: opacity .25s ease-in-out;
  -webkit-appearence: none;
}

.field:hover {
  opacity: 1;
}

.field.focussed textarea + label {
  top: 4px;
  opacity: 1;
}