.pageWrapper {
  background-color: #1198C2;
}

.pageWrapperBg {
  background: url('../../images/geometric-bg.png') no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  justify-content: center;
  color: #fff;
}

.componentWrapper {
  margin: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}