.pageWrapper {
  background-color: #5a9cb8;
  min-height: 100vh;
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fff;
}
